apiVersion: apps/v1
kind: Deployment
metadata:
  name: angularapp-deployment
  labels:
    app: angularapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: angularapp
  template:
    metadata:
      labels:
        app: angularapp
    spec:
      containers:
      - name: angularapp
        image: dinesh14coder/angular-app
        ports:
        - containerPort: 80
      imagePullSecrets:
        - name: dockerhub-cred

